body {
    margin: 0;
    padding: 0;
    background-color: #3aafa9;
    overflow-x: hidden;
    overflow-y: hidden;
}


.upArrow {
    display: none;
}

.imgsContainer {
    /* border: 2px solid #ffefff; */
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-image: url('../img/brinde.jpg');
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
}

.left,
.right {
    height: 100%;
    width: 50%;
}

.left {
    background-color: black;
    color: white;
    text-align: center;
    /* width: 40%; */
}

.left:hover {
    cursor: url('../img/arrowleft.gif'), default;
}

.right:hover {
    cursor: url('../img/arrowright.gif'), default;
}

/* testimonials config */
.testimonial {
    /* border: 2px solid white; */
    margin: 15% 0;
    padding: 6%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.h2Title {
    text-shadow: 20px 2px 5px teal;
}

.h3Name {
    color: gold;
}

.hrTestimonial {
    width: 20%;
    height: 5px;
    background-color: teal;
    margin: 2.5% 40%;
    border: transparent;
}

/* end testimonials config */

.bodyTitleContainer {
    position: absolute;
    z-index: 9;
    font-family: monospace;
    font-size: 1.5em;
    opacity: 0.8;
    background-color: #def2f1;
    margin: 120px 0;
    top: 0;
    opacity: 0.9;
    width: 100%;
    text-align: center;
    color: #3aafa9;
    transition: .6s linear all;
    height: 100%;
    padding: 5%;
}

.pTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

.fiuza {
    text-shadow:
        -2px 0px 1px black;
}

.miniImg {
    width: 10%;
    height: 20%;
    border-radius: 100%;
    padding: 1%;
    align-self: flex-start;
}



.imgTechs {
    height: 100px;
    width: 100px;
    border-radius: 45%;
    padding: 2%;
}

.titleFaded {
    opacity: 0;
}

code {
    position: relative;
    color: #def2f1;
    background-color: #3aafa9;
    width: 85%;
    padding: 2%;
}

code::after {
    position: absolute;
    content: "";
    top: 0;
    left: -15px;
    display: inline-block !important;
    width: 0;
    height: 0;
    border-right: 15px solid #3aafa9;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

}

/*footer*/
footer {
    opacity: 0;
    position: relative;
    margin-top: 20%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    font-family: 'Kanit';
    padding: 2%;
    width: 100%;
    z-index: 9;
}

.pFooter {
    color: white !important;
}

footer a {
    color: white
}

footer a:hover {
    color: gold;
}

.hrFooter {
    margin: 3% 0;
    border-color: white;
}

.social-list {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 2% 30%;
}

@media screen and (max-width:700px) {
    footer li {
        padding: 0 6%;
    }
}